.my-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    text-align: center;
  }
  
  .my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .my-table th {
    background-color: #f2f2f2;
  }
  
  .my-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .my-table tr:hover {
    background-color: #ddd;
  }
  
